body{
    text-align: center;
    background-color: cyan;
}

div{
    margin-top: 15px;
}

.image_section{
    display: flex;
    justify-content: center;
}

.section-style{
    margin-right: 25px;
    margin-left: 25px;
}

img{
    width:300px;
    height:300px;
}

#p1{
    font-size:50px;
    font-variant: small-caps;
}

.quote{
    font-size:20px;
    font-variant:small-caps;
    background-color:white;
}